apiVersion: gateway.kyma-project.io/v2
kind: APIRule
metadata:
  labels:
    app: my-approuter
  name: my-approuter
spec:
  gateway: kyma-system/kyma-gateway
  hosts: 
  - my-approuter
  rules:
    - path: /*
      methods: ["GET", "POST", "PUT", "DELETE"]
      service:
        name: my-approuter
        port: 5000
      noAuth: true
