APP_NAME=sample-dot-net
TAG=1.0.0
DOCKER_ACCOUNT=your-dockerhub-user
APP_DIR=SampleAppDotNet
HOST_PORT=5085
CONTAINER_PORT=8080
BUILDER=paketobuildpacks/builder-jammy-base
NAMESPACE=sample-dot-net
HELM_RELEASE=sample-dot-net
REGISTRY_SECRET=regcred
DOCKER_PASSWORD=your-docker-password
DOCKER_EMAIL=your-docker-email
