apiVersion: gateway.kyma-project.io/v2
kind: APIRule
metadata:
  name: api-mssql-go
spec:
  gateway: kyma-system/kyma-gateway
  hosts:
  - api-mssql-go
  rules:
    - path: /orders/{**}
      noAuth: true
      methods:
        - GET
        - POST
        - PUT
        - DELETE
  service:
    name: api-mssql-go
    port: 80
